.page {
  background-image: var(--banner-background);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-color: var(--background-color);
}

.header,
.footer {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100dvh;
  min-height: 66.8rem;
  padding: var(--side-fields);
}

.header__content {
  font-size: 1.8rem;
  display: grid;
  align-items: start;
  justify-content: end;
  grid-template-rows: 0.445fr 1fr;
  height: 45vh;
}

.header__theme-menu {
  display: flex;
  grid-row: 2;
}

.header__theme-menu-list {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

.header__record-decoration {
  color: var(--primary-color);
  display: var(--is-record);
  align-items: center;
  gap: 1rem;
  margin-inline-end: 1rem;
  grid-row: 1;
  justify-self: end;
}

.header__record-decoration::after {
  --size-element: 0.9rem;
  content: "";
  display: block;
  width: var(--size-element);
  height: var(--size-element);
  border-radius: 50%;
  background-color: var(--primary-color);
  box-shadow: 0 0 0.4rem 0.2rem var(--primary-color);
}

.decorated-zone::before,
.decorated-zone::after {
  content: "";
  display: block;
  position: absolute;
  inline-size: 2.5rem;
  block-size: 2.5rem;
}

.decorated-zone::before {
  right: var(--side-fields);
  top: var(--side-fields);
  border-top: 0.1rem solid var(--angle-color);
  border-right: 0.1rem solid var(--angle-color);
}

.decorated-zone::after {
  left: var(--side-fields);
  bottom: var(--side-fields);
  border-bottom: 0.1rem solid var(--angle-color);
  border-left: 0.1rem solid var(--angle-color);
}

.banner {
  padding-block-start: 2.5rem;
  display: grid;
  height: 100%;
  grid-template-rows: min-content 1fr;
}

.banner__text {
  align-self: center;
  justify-self: end;
}

.main {
  padding-inline: var(--side-fields);
  margin-block: var(--main-gap);
}

.button-menu {
  appearance: none;
  color: var(--button-menu-color);
  background-color: transparent;
  border: 0.063rem solid transparent;
  cursor: pointer;
  text-transform: lowercase;
  padding-inline: 1.3rem;
  padding-block: 0.18rem 0.43rem;
  font-size: 1.8rem;
  line-height: 1;
  inline-size: 7rem;
}

.button-menu.header__theme-menu-button_active {
  border-color: inherit;
}

.button-menu:focus {
  outline: none;
}

.button-menu:focus-visible {
  outline: none;
  border-bottom: 0.063rem solid currentColor;
}

.title {
  background-color: var(--primary-color);
  color: var(--primary-text-color);
  font-weight: bold;
}

.title.title_normal {
  font-weight: normal;
}

.headline {
  color: var(--headline-color);
  word-wrap: break-word;
}

.card-list {
  display: flex;
  gap: 2rem;
  flex-direction: column;
}

.card-list .text {
  margin-block-start: 1rem;
}

.concentration__card-list {
  margin-block-start: 2rem;
}

.title,
.banner__text {
  background-color: var(--primary-color);
  color: var(--primary-text-color);
  font-weight: bold;
}

.text {
  color: var(--secondary-text-color);
  font-weight: normal;
}

.text > a {
  text-shadow: 0.2rem 0.2rem 0 var(--primary-color);
  text-decoration: none;
}

.text > a:focus {
  outline: none;
}

.text > a:focus-visible {
  outline: 0.063rem solid currentColor;
}

.title,
.text,
.headline {
  font-size: 1.8rem;
  line-height: 1.3;
}

.logo {
  color: var(--logo-color);
  filter: drop-shadow(0.4rem 0.4rem var(--primary-color));
  font-size: clamp(11.6rem, 15.625vw, 15.7rem);
  font-weight: bold;
  line-height: 0.83;
}

.attention .headline {
  width: var(--width-headline);
}

.attention__card-list {
  grid-template-columns: 1fr;
  margin-block-start: 2rem;
}

.gallery__content {
  display: grid;
  grid-template-columns: var(--gallery-columns);
  gap: var(--gallery-gap);
}

.gallery__image {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: 50% 50%;
}

.hard,
.attention__card-list,
.concentration {
  display: grid;
  gap: 2rem;
}

.hard,
.concentration {
  grid-template-columns: 1fr;
}

.concentration__item-title {
  font-weight: normal;
}

.attention,
.gallery,
.concentration {
  margin-block-start: var(--gap-between-block);
}

.gallery__content {
  margin-block-start: 1rem;
}

.footer {
  justify-content: center;
  align-items: center;
}

.footer__logo {
  filter: drop-shadow(0.2rem 0.2rem var(--primary-color));
}

@media screen and (width > 23.5rem) {
  .header__content {
    height: 72vh;
    grid-template-rows: 0.67fr 1fr;
  }

  .banner {
    margin-inline-start: calc(-1 * var(--side-fields));
  }

  .hard,
  .concentration {
    grid-template-columns: var(--width-headline) 1fr;
  }

  .gallery__content {
    --gallery-gap: 2rem;
    --gallery-columns: repeat(3, 1fr);
  }

  .banner__text {
    min-width: min(100%, 22.188rem);
    max-width: 49%;
  }

  .gallery__content {
    margin-block-start: 2rem;
  }

  .gallery__image_medium-column {
    grid-column: span 2;
  }

  .gallery__image_medium-row {
    grid-row: span 2;
  }
}

@media screen and (width > 48rem) {
  .header__content {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: initial;
    align-items: initial;
    height: initial;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .header__theme-menu {
    grid-column: 2;
    grid-row: initial;
    justify-self: center;
  }

  .header__record-decoration {
    grid-column: 3;
  }

  .banner {
    grid-template-rows: 1.29fr 1fr;
  }

  .banner__logo {
    align-self: end;
  }

  .attention__card-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (any-hover: hover) {
  .button-menu:hover {
    border-color: rgb(from var(--button-menu-color) r g b / 40%);
  }

  .text > a:hover {
    content: "";
    text-decoration: underline;
    text-underline-offset: 0.125rem;
  }
}
